[run]
branch = True
source = .
# necessary for travis-ci since blender is downloaded in the build dir
omit = */python/lib/*

[paths]
source = .
         */.config/blender/*/scripts/addons
         */scripts/addons/
# TODO: test Windows paths
# XXX this will give much less coverage if other addons are installed

